<div>
    <div class="row">
        <div class="search-panel center-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="input-group">
                        <label>
                            <h3>Поиск погоды</h3>
                        </label>
                        <input ng-model="searchText" type="text" class="form-control" placeholder="Введите город" />
                    </div>
                </div>
                <div class="row">
                    <div class="center-block">
                        <button type="button" class="btn btn-primary" ng-click="search()" ng-disabled="!searchText">
                            Найти
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>