<div>
    <div class="row">
        <div class="search-panel center-block">
            <div class="container-fluid">
                <div class="row">
                    <label>
                        <h3>Поиск погоды</h3>
                    </label>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input ng-model="latitude" type="text" class="form-control" placeholder="Широта" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input ng-model="longitude" type="text" class="form-control" placeholder="Долгота" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="center-block">
                        <button type="button" class="btn btn-primary" ng-click="search()">Найти</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>